#Zillow Historical 
/Users/cdmoseley/dai_files/Mid_Term/Housing_Zillow/Data/Housing_Zillow_Past.csv
Data/Housing_Zillow_Past.csv
Housing_Zillow_Past.csv

#Zillow Forecast
/Users/cdmoseley/dai_files/Mid_Term/Housing_Zillow/Data/Zillow_Housing_Forecast.csv
Mid_Term/Housing_Zillow/Data/Zillow_Housing_Forecast.csv
Zillow_Housing_Forecast.csv